@media(max-width: 1440px){
    h2{
        font-size: 28px;
    }
    .project{
        width: 250px;
    }
    p{
        font-size: 18px;
    }
}

@media(max-width: 1024px){
    h1{
        font-size: 38px;
    }  
    h2{
        font-size: 24px;
    } 
    p{
        font-size: 16px;
    }
    .me-img{
        width: 150px;
        height: 150px;
   }
   .bg-wooden{
    background-repeat: repeat;
    background-position: bottom;
   }
   .about-me-text{
        width: 270px;
        padding: 34px;
   }
}

@media(max-width: 768px){
    .mouse-img{
        width: 120px;
        filter: invert(0);
    }
    .pos1{
        bottom: 44px;
        right: 80px;
    }
    .mobile-column{
        flex-direction: column;
    }
    .formular input {
        width: 250px;
    }    
    .formular textarea {
        max-width: 250px;
        min-width: 250px;
    }    
}    

@media(max-width: 425px){
    h1 {
        font-size: 24px;
    }
    .mobile-hide{
        display: none;
    }
    .welcomeText{
        height: calc(100vh - 40%);
    }
    .pos1 {
        bottom: 122px;
        right: 160px;
    }
    .mouse-img {
        width: 100px;
        filter: invert(0)
    } 
    .about-me-text {
        width: 340px;
    }
    .formular {
        width: 300px;
    }   
    .column-425{
        flex-direction: column;
    }
    p {
        font-size: 1em;
    }   
    .mobile-display{
        display: flex;
    } 
    .screen-wrapper h2 {
        font-size: 1em;
    }
    .screen-wrapper h1 {
        font-size: 1.5em;
    }
}

@media(max-width: 375px){
    .link{
        width: 90%;
    }
    .responsive-menu{
        width: 95.65%;
    }
    .notebook {
        height: calc(100vh - 26px);
    }
    .pos1 {
        bottom: 149px;
        right: 140px;
    }    
    .welcomeText {
        height: calc(100vh - 32%);
    }
}

@media(max-width: 320px){
    .responsive-menu {
        width: 87.65%;
    }
    .notebook {
        height: calc(100vh + 56px);
    }
    .screen-wrapper h2 {
        font-size: 0.75em;
    }
    .welcomeText {
        height: calc(100vh - 18%);
    }
    .pos1 {
        bottom: 112px;
        right: 112px;
    }
    h1 {
        font-size: 20px;
    }
    .about-me-text {
        width: 250px;
    }
    .formular {
        width: 150px;
    }
    .formular input {
        width: 160px;
    }
    .formular textarea {
        max-width: 160px;
        min-width: 160px;
    }
}