/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
    margin: 0;
    background-color: #312826;
    font-family: "Roboto Mono","Comic Sans MS";
}

html{
    scroll-behavior: smooth;

}

.column{
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.justify-around{
    justify-content: space-around;
}

.aligen-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.max-width-70{
    max-width: 70%;
}

.w-100{
    width: 100%;
}

.mt-5{
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.relative{
    position: relative;
}

.bg-wooden{
    background-image: url('../img/wooden-desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.padding-top-100{
    padding-top: 100px;
}

.notebook{
    height: calc(100vh - 66px);
    object-fit: contain;
}

.me-img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-right: 50px;
}

.pos1{
    position: absolute;
    bottom: 15px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 24px;
}

.font-weight-bold {
    font-weight: bold;
}
.mouse-img{
    width: 150px;
    cursor: pointer;
    filter: invert(1);
}

.navbar{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    font-size: 20px;
    padding-bottom: 12px;
    z-index: 1;
    background-color: rgba(0,0,0,50%);
}

.menu-img{
    width: 45px;
    height: 45px;
    filter: invert(1);
    margin-top: 0.5rem;
}

.responsive-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 111;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(49 40 38);
}    

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-bottom: solid 2px #b3b2c6;
    border-right: solid 2px #b3b2c6;
    margin-top: 12px;
    border-radius: 12px;
    padding: 6px;
}
.link:hover{
    border-bottom: solid 2px limegreen;
    border-right: solid 2px limegreen;
    color: limegreen;
    box-shadow: 2px 2px 2px black;
}

.arrow{
    width: 45px;
    filter: invert(1);
    border-bottom: solid 2px #b3b2c6;
    border-right: solid 2px #b3b2c6;
    padding: 9px;
    margin-top: 12px;
    border-radius: 12px;
}    


.welcomeText{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 59%);
    text-align: center;
    flex-direction: column;
}

#aboutMeSection{
    width: 100%;
    min-height: 100vh;
    color: white;
    flex-direction: column;
    position: relative;
    /* background-image: url('../img/wooden-desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; */
}

.about-me-text{
    width: 350px;
    padding: 34px;
}

#projectSection{
    width: 100%;
    min-height: 100vh;
    color: white;

}

#contactSection{
    width: 100%;
    height: 100vh;
    color: white;
}

#footer{
    min-height: 250px;
   background-color: grey; 
}

.project{
    width: 300px;
    padding: 1rem;
    background-color: rgba(201, 39, 39, 0.285);
    margin: 24px;
    border-radius: 24px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 5px #1d1817; 
    box-shadow: 5px 5px 15px 5px #1d1817;
}

.project img{
    width: auto;
    height: 75px;
}

.formular{
    width: 400px;
    background-color: rgb(93 40 38);
    padding: 40px;
    padding-bottom: 64px;
    border-radius: 24px;
    -webkit-box-shadow: 5px 5px 15px 5px #312826; 
    box-shadow: 5px 5px 15px 5px #312826;
}

.formular input{
    width: 320px;
    height: 25px;
    margin-top: 12px;
    margin-bottom: 22px;
    outline: none;
}

.formular textarea{
    max-width: 320px;
    min-width: 320px;
    min-height: 50px;
    max-height: 150px;
}

.formular button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    margin-top: 24px;
}

.screen-wrapper {    
    padding-left: 4rem;
    padding-right: 4rem;
    color: limegreen;
    text-align: left; 
}

.screen-wrapper h1 {
    font-size: 32px;
}

.screen-wrapper h2 {
    font-size: 24px;
}